* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  padding: 0 2.5%;
}

header h1 {
  margin-right: auto;
}

.item-counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.item-count {
  display: block;
  margin: 0 10px;
}

.main-content {
  display: flex;
  padding: 0 2.5%;
}

.garage {
  position: relative;
  width: 50%;
  margin: 20px;
  border: 25px solid grey;
  border-bottom: none;
  border-radius: 3px;
  height: 380px;
  overflow: auto;
  perspective: 50em;
}

.garage-door {
  position: absolute;
  width: 100%;
  height: 355px;
  transition: 2s ease;
}

.open {
  position: absolute;
  top: 0;
  height: 0;
  transform: rotateX(40deg);
}

.controls {
  width: 48%;
  margin: 20px;
}

.open-btn {
  display: block;
  border: 2px solid green;
  color: green;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  width: 70px;
  cursor: pointer;
}

.open-btn:hover {
  background-color: green;
  color: #fff;
  font-weight: bold;
}

.item {
  margin: 15px auto;
  width: 80%;
}

.garage-form {
  width: 70%;
  margin: 0 auto;
}

.garage-form > * {
  display: block;
  margin: 20px 0;
  width: 100%;
}
